.about {
    // 임시
    height: 600px;
    background-color: #000;
    color: #fff;

    .content {
        margin-top: 30px;
        width: 100%;
    }
}




@import '../../styles/mixin';

@include mobile {
    .about {
        // padding: 68px 2rem 0;
    }
}