.portfolio {
    background-color: #fff;
    padding-bottom: 150px;

    .content {
        margin-top: 30px;

        .container {
            width: 100%;

            .main_tab {
                padding: 0 3rem;
                background-color: #000;
                height: 8vw;
                
                .text_box {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    
                    p {
                        display: inline-block;
                        font-size: 4vw;
                        line-height: 4vw;
                        font-weight: 500;
                        color: #fff;
    
                        &:nth-of-type(1) {
                            width: 16vw;
                            font-size: 3vw;
                            line-height: 3vw;
                        }
                    }
                }
            }
            .sub_tab {
                margin-left: 3rem;
                height: 8vw;
                background-color: #fff;
                
                .text_box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    margin-left: 16vw;
                    border-bottom: 1.5px solid #000;

                    .flex {
                        display: flex;
                        align-items: center;

                        p {
                            display: inline-block;
                            font-size: 4vw;
                            line-height: 4vw;
                            font-weight: 500;
                            color: #000;
        
                            &:nth-of-type(1) {
                                width: 8vw;
                                font-size: 3vw;
                                line-height: 3vw;
                            }
                            &:nth-of-type(2) {
                                // font-style: italic;
                                font-weight: 500;
                                font-size: 4vw;
                                letter-spacing: -.13vw;
                                word-spacing: .5vw;
                            }
                        }
                        .stack {
                            width: 30vw;
                            margin-right: 7vw;
                            font-size: 2vw;
                            
                            .marquee {
                                position: relative;
                                overflow: hidden;
                                --move-initial: -25%;
                                --move-final: -50%;

                                .marquee_inner {
                                    position: relative;
                                    display: flex;
                                    width: fit-content;
                                    transform: translate3d(var(--move-initial), 0, 0);
                                    animation: marquee 3s linear infinite;
                                    animation-play-state: paused;

                                    .marquee_item {
                                        display: flex;
                                        align-items: center;
                                        opacity: 1;
                                        white-space: nowrap;
                                        overflow: visible;
                                        
                                        h4 {
                                            font-style: italic;
                                            font-weight: 400;
                                            font-size: 1.4vw;
                                            margin-right: 2vw;
                                        }
                                        .icon {
                                            width: 40px;
                                            height: 40px;
                                        }
                                    }
                                }
                            }
                        }
                        .arrow {
                            margin-right: 3rem;
                            width: 4vw;
                            height: 4vw;
                            transform: rotate(45deg);
                            transition: all .3s;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    &:hover {
                        .flex {
                            .stack {
                                .marquee {
                                    .marquee_inner {
                                        animation-play-state: running;
                                    }
                                }
                            }
                            .arrow {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }

            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    } 
}


@import '../../styles/mixin';

@include mobile {
    .main_tab {
        padding: 0 2rem !important;
    }
    .sub_tab {
        margin-left: 2rem !important;
    }
    .arrow {
        margin-right: 2rem !important;
    }
}
