.home {
    padding: 68px 3rem 0;
    background-color: #fff;
    height: 100vh;

    .main {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;

        .bg {
            // opacity: 0;
            // transition: all .2s;
        }
        .circle {
            height: 100%;
        }
        .video {
            height: 100%;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }
    }
    .content {
        .linear {
            position: absolute;
            top: 6vh;
            font-size: 7vw;
        }
        .circle_box {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 40vh;
            width: 100%;
            
            .wrapper {
                display: flex;
                position: relative;

                .circle {
                    // position: relative;
                    width: 28.5vh;
                    background: #000;
                    border-radius: 100%;
                    margin: 0 4.8vh;
                    transition: all .2s;
                    overflow: hidden;
                    cursor: pointer;
                    
                    .circle_inner {
                        position: relative;
                        width: 100%;
                        padding-top: 100%;
                        
                        .text_box {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            
                            .top_txt {
                                font-size: 2.2vh;
                                letter-spacing: -.11vh;
                                line-height: 1.5;
                                margin-left: 10.4vh;
                                transition: all .2s;
                            }
                            .bottom_txt {

                            }
                        }
                    }
                }
            }
        }
    }
}

@import '../../styles/mixin';

@include mobile {
    .home {
        padding: 68px 2rem 0;
    }
}