.chart_container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    animation: slidein .3s linear alternate;
}

@keyframes slidein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}