.header {
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 99;

    .wrap {
        width: 100%;
        height: 68px;
        padding: 0 3rem;

        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
    
            .logo {
                font-size: 1.2rem;
                color: #fff;
            }
            .category {
                .pc_list {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    list-style: none;
                    
                    li {
                        border-radius: 50px;
                        padding: 0 1rem;
                        height: 26px;
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: #fff;
                    }
                    li.active {
                        background-color: #fff;
                        color: #000;
                    }
                }
                .menu_trigger {
                    display: none;
                    // margin-right: 70px;
                    // margin-bottom: 50px;
                    
                    position: relative;
                    width: 22px;
                    height: 18px;
                    transition: all .4s;
                    
                    span {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        border-radius: 4px;
                        transition: all .4s;
                    }
                    span:nth-of-type(1) {
                        top: 0;
                    }
                    
                    span:nth-of-type(2) {
                    top: 8px;
                    }
                    
                    span:nth-of-type(3) {
                    bottom: 0;
                    }

                }
                // class on
                .active {
                    span:nth-of-type(1) {
                        -webkit-transform: translateY (8px) rotate (-45deg);
                        transform: translateY(8px) rotate(-45deg);
                    }
                    span:nth-of-type(2) {
                        opacity: 0;
                    }
                    span:nth-of-type(3) {
                        -webkit-transform: translateY(-8px) rotate(45deg);
                        transform: translateY(-8px) rotate(45deg);
                    }
                }
            }
        }
    }
    .m_list {
        position: fixed;
        z-index: 0;
        visibility: hidden;
        width: 100%;
        opacity: 0;
        background-color: #fff;
        list-style: none;
        transition: opacity .3s;

        li {
            padding: 7vw 3rem;
            font-size: 6vw;
            font-weight: 500;
            border-bottom: 1px solid #000;
            
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        li:nth-of-type(1) {
            border-top: 1px solid #000;
        }
    }
}


@import '../../styles/mixin';

@include mobile {
    .header {
        

        .wrap {
            .inner {
                .logo {
                    font-size: 0.8rem;
                }
                .category {
                    .pc_list {
                        display: none;
                    }
            
                    .menu_trigger {
                        display: inline-block;
                    }
                }
            }
        }
        .m_list.active {
            visibility: visible;
            display: block;
            opacity: 1;
            z-index: 2;
        }
    }
    .header.active {
        mix-blend-mode: normal;
        background-color: rgb(255, 255, 255);
        transition: background-color .3s;

        .wrap {
            .inner {
                .logo {
                    color: #000;
                }
                .category {
                    .menu_trigger {
                        span {
                            background: #000;
                        }
                    }
                }
            }
        }
        
    }
}