.footer {
    position: relative;
    z-index: 2;
    background-color: transparent;

    .wrap {
        width: 100%;
        height: 120px;
        padding: 0 3rem;

        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .left {
                display: flex;
                gap: 20px;
            }
            .right {
                display: flex;
                gap: 20px;
                text-align: right;

                .text_box {
                    span {
                        margin-left: 10px;
                    }
                }
            }
            .text_box {
                font-size: 1.4rem;
                font-weight: 600;

                p {
                    margin-bottom: 20px;
                }
                span {
                    vertical-align: top;
                    line-height: 20px;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }
    }
}


@import '../../styles/mixin';

@include mobile {
    .footer {
        .wrap {
            height: 100px;
            padding: 0 2rem;

            .inner {
                .left {
                    flex-direction: column;
                    gap: 10px;

                }
                .right {
                    flex-direction: column;
                    gap: 10px;
                    
                }
                .text_box {
                    font-size: 1rem;

                    p {
                        margin-bottom: 0;
                    }
                    svg {
                        width: 18px;
                    }
                }
            }
        }
    }
}